<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="static/css/exp.css" rel="stylesheet">
<style>
.selected{
  background-color:  #FA8072;
}
.ans_output{
  background-color: #00FF7F;
}

#usr_inp{
	font-size: 0.54em;
}
</style>
</head>
<body>
  <h1>INTEGER ARITHMETIC</h1>
  <!--=============HELP BUTTON================= -->
  <div >
    <a href="/help"><img class="help" src="/static/images/button_help.png"></img></a>
  </div>  <script>
    var count = 0;
    var a=0,b=0;
    $(function(){                                    //function to register clicks on the binary strings
      $('#usr_inp tr').on('click',function(){
          ++count;
          $(this).addClass("selected");
          c=$(this).find('td:eq(1)').text();
          if(count % 2 == 1){
            if(count != 1){
              $(obj_1).removeClass("selected");
            }
            obj_1 = this;
            a=c;
          }
          else{
            if(count != 2){
              $(obj_2).removeClass("selected");
            }
            obj_2 = this
            b=c;
          }
          console.log(a);
          console.log(b);
      });
    });

    $(function(){                               //function to reload page
      $("#button_reset").click(function(){
          console.log("FDK")
          location.reload();
        });
    });

	$(function(){                              //function to switch to the page for 5bit addition
      $("#button_4bit").click(function(){
          window.open("/exp", "_self");
        });
    });

	$(function(){                             //function to switch to the help page
      $("#button_help").click(function(){
          window.open("/help", "_self");
        });
    });

    $(document).ready(function(){             //function to send selected values for calculation once selected using ajax requests
        $("#button_add").click(function(){
          if(b == 0){
            alert("select two values");
            return;
          }
          var arr={
              var_1:a,
              var_2:b
          };
          $.ajax({
            url:"http://localhost:5000/calculate_5bit",
            type:'POST',
            data: JSON.stringify(arr),
            contentType: 'application/json; charset=utf-8',
            dataType:'json',
            success:function(res){
              console.log(res);
              table_display(res);
              ans_display(res);
            }
          });
        });
    });

      function ans_display(obj){
          var arr=[];
          arr[1] = String(obj['Binary Representation']);
          arr[2] = String(obj['Two Complement']);
          arr[3] = String(obj['One Complement']);
          arr[4] = String(obj['Unsigned Value']);
          arr[5] = String(obj['Signed Value']);
          var tb = document.getElementById("usr_inp");
          for(var i=0,row; row = tb.rows[i];i++){
            for(var j=0,col;col=row.cells[j];j++){
              $(col).removeClass("ans_output");
              var val=col.innerHTML;
              if(val == arr[j]){
                $(col).addClass("ans_output");
              }
            }
          }
      }



    function table_display(obj){
      console.log(obj['Binary Representation']);
      document.getElementById("r1").innerHTML = obj['Binary Representation'];
      document.getElementById("r2").innerHTML = obj['Two Complement'];
      document.getElementById("r3").innerHTML = obj['One Complement'];
      document.getElementById("r4").innerHTML = obj['Unsigned Value'];
      document.getElementById("r5").innerHTML = obj['Signed Value'];
    }

  </script>
  <!--=============USER INPUT TABLE================= -->
  <div class="tab">
  <table id="usr_inp">
  <tr>
    <th colspan="2">Binary Rep</th>
    <th>2's Comp</th>
    <th>1's Comp</th>
    <th>Unsigned</th>
    <th>Signed</th>
    </tr>
    <tr id="df">
      <td>1</td>
      <td style="padding-left:60px ;padding-right:60px">00000</td>
      <td style="padding-left:30px ;padding-right:30px">0</td>
      <td style="padding-left:30px ;padding-right:30px">+0</td>
      <td style="padding-left:30px ;padding-right:30px">0</td>
      <td style="padding-left:30px ;padding-right:30px">+0</td>
    </tr>
    <tr>
      <td>2</td>
      <td>00001</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>3</td>
      <td>00010</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>4</td>
      <td>00011</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <td>5</td>
      <td>00100</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <td>6</td>
      <td>00101</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td>7</td>
      <td>00110</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <td>8</td>
      <td>00111</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <td>9</td>
      <td>01000</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <td>10</td>
      <td>01001</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <td>11</td>
      <td>01010</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <td>12</td>
      <td>01011</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <td>13</td>
      <td>01100</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <td>14</td>
      <td>01101</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <td>15</td>
      <td>01110</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <td>16</td>
      <td>01111</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
    </tr>
	<tr>
      <td>17</td>
      <td>10000</td>
      <td>-16</td>
      <td>-15</td>
      <td>16</td>
      <td>-0</td>
    </tr>
	<tr>
      <td>18</td>
      <td>10001</td>
      <td>-15</td>
      <td>-14</td>
      <td>17</td>
      <td>-1</td>
    </tr>
	<tr>
      <td>19</td>
      <td>10010</td>
      <td>-14</td>
      <td>-13</td>
      <td>18</td>
      <td>-2</td>
    </tr>
	<tr>
      <td>20</td>
      <td>10011</td>
      <td>-13</td>
      <td>-12</td>
      <td>19</td>
      <td>-3</td>
    </tr>
	<tr>
      <td>21</td>
      <td>10100</td>
      <td>-12</td>
      <td>-11</td>
      <td>20</td>
      <td>-4</td>
    </tr>
	<tr>
      <td>22</td>
      <td>10101</td>
      <td>-11</td>
      <td>-10</td>
      <td>21</td>
      <td>-5</td>
    </tr>
	<tr>
      <td>23</td>
      <td>10110</td>
      <td>-10</td>
      <td>-9</td>
      <td>22</td>
      <td>-6</td>
    </tr>
	<tr>
      <td>24</td>
      <td>10111</td>
      <td>-9</td>
      <td>-8</td>
      <td>23</td>
      <td>-7</td>
    </tr>
	<tr>
      <td>25</td>
      <td>11000</td>
      <td>-8</td>
      <td>-7</td>
      <td>24</td>
      <td>-8</td>
    </tr>
	<tr>
      <td>26</td>
      <td>11001</td>
      <td>-7</td>
      <td>-6</td>
      <td>25</td>
      <td>-9</td>
    </tr>
	<tr>
      <td>27</td>
      <td>11010</td>
      <td>-6</td>
      <td>-5</td>
      <td>26</td>
      <td>-10</td>
    </tr>
	<tr>
      <td>28</td>
      <td>11011</td>
      <td>-5</td>
      <td>-4</td>
      <td>27</td>
      <td>-11</td>
    </tr>
	<tr>
      <td>29</td>
      <td>11100</td>
      <td>-4</td>
      <td>-3</td>
      <td>28</td>
      <td>-12</td>
    </tr>
	<tr>
      <td>30</td>
      <td>11101</td>
      <td>-3</td>
      <td>-2</td>
      <td>29</td>
      <td>-13</td>
    </tr>
	<tr>
      <td>31</td>
      <td>11110</td>
      <td>-2</td>
      <td>-1</td>
      <td>30</td>
      <td>-14</td>
    </tr>
	<tr>
      <td>32</td>
      <td>11111</td>
      <td>-1</td>
      <td>-0</td>
      <td>31</td>
      <td>-15</td>
    </tr>
  </table>
</div>
<!--=============BUTTONS ================= -->
<button class="button" id="button_add">ADD</button><br><br><br><br>
<button class="button" id="button_reset">RESET</button><br><br><br><br>
<button class="button" id="button_4bit">SWITCH TO 4-BIT</img></button>
<!--=============RESULTS TABLE================= -->
<div class="result">
<h2 style="color: #660000"> Results </h2>
<table>
	<tr>
      <td id="col1">1</td>
      <td style="color: #660000">Binary Rep</td>
      <td id="r1">     </td>
    </tr>
    <tr>
      <td id="col1">2</td>
      <td style="color: #660000">2's Comp</td>
      <td id="r2">	</td>
    </tr>
    <tr>
      <td id="col1">3</td>
      <td style="color: #660000">1's Comp</td>
      <td id="r3">	</td>
    </tr>
    <tr>
      <td id="col1">4</td>
      <td style="color: #660000">Unsigned</td>
      <td id="r4">	</td>
    </tr>
    <tr>
      <td id="col1">5</td>
      <td style="color: #660000">Signed</td>
      <td id="r5">	</td>
    </tr>
</table>
</div>
  </body>
</html>
